table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
form{
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
}
input[type="text"], input[type="number"], input[type="email"], input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.formBtn{
  width: 32%;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.tableBtn{
  width: 100%;
  cursor: pointer
}